#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_BurnCoind += debian/examples/*
DEB_INSTALL_MANPAGES_BurnCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix BurnCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f BurnCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake BurnCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/BurnCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/BurnCoind
binary-post-install/BurnCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/BurnCoin-qt
